@use "../../styles/variables.scss" as *;

.welcome-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .welcome-text {
    h1 {
      font-size: 3rem;
      color: white;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    h2 {
      font-size: 3rem;
      margin: $spacing-sm 0 0 0;
      color: white;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
  }

  .start-button {
    padding: 1.5rem 3rem;
    background-color: $color-surface;
    color: black;
    border: none;
    border-radius: $border-radius-md;
    font-size: $font-size-xl;
    cursor: pointer;
    margin-right: -5%;
    align-self: flex-end;
  }
}
