@use '../../styles/variables.scss' as *;

.hero-section {
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;

  .hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: $spacing-lg;
    z-index: 10;
  }
}
